{% extends 'base.html.twig' %}

{% block title %}Hello AccomplissementController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'C:/Users/MK Brinda/Desktop/New_WBC/src/Controller/AccomplissementController.php'|file_link(0) }}">src/Controller/AccomplissementController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'C:/Users/MK Brinda/Desktop/New_WBC/templates/accomplissement/index.html.twig'|file_link(0) }}">templates/accomplissement/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}